html {
    background-color: rgb(208, 252, 208);
}

.title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(139, 216, 241);
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(139, 216, 241);
    font-family:monospace;
    font-size: 20px;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: rgb(247, 240, 229);
    color: rgb(83, 194, 231);
    font-family: monospace;
    font-size: 20px;
    border: solid 1px wheat;
    margin: 5px;
}

#container {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 30px auto;
    border: 5px solid rgb(247, 230, 230);
  }
  
  .grid-element {
    border: 1px solid white;
    background-color: rgb(250, 234, 244);
  }

.pinkColor {
    background-color: pink;
}
